@import "tailwindcss";

@layer utilities {

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* IE and Edge */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* Firefox */
        scrollbar-width: none;
    }
}